body{
    padding: 0;
    margin: 0;
}
/* *{
    border: 1px solid black;
} */
.slider-container{
    position: relative;
    overflow-x: hidden;
    height: 200px;
}
.slider-width{
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    left: 0;
    top: 0;
    transition: 0.4s ease-in-out;
}
.item{
    background-color: rgb(139, 127, 127);
    width: 300px;
    height: 200px;
    margin: 0 10px;
    /* text-align: center; */
    font-size: 40px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.btn{
    background-color: red;
    border: none;
    outline: none;
    color: wheat;
    padding: 20px;
    /* position: absolute; */
    left: 50%;
    margin: 20px;
    font-weight: 900;
}